.header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 20%;
    margin-bottom: 10px;
}
.cardItem{
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 18%;

}
.cardHeader{
    background: #3f51b5d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    border-radius: 10px 10px 0 0; 
}
.cardHeader .title{
    margin: 0;
}

.cardContent{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.cardFooter{
    display: flex;
    justify-content: space-around;
    height: 30%;
    align-items: center;
    background: #3f51b5ab;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0 0 10px 10px;
}

.estadisticas{
    padding: 10px;
}