.sucursalMain{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sucursalMain .sucursalInfo{
    height: 100%;
    width: 58%;
}

.sucursalMain .sucursalInfo .sucursalInfoHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #3f51b5d8;
}

.sucursalMain .sucursalInfo .sucursalInfoHeader .buttonHeader{
    background: #3f51b5d8;
}

.sucursalMain .sucursalInfo .sucursalInfoHeader .groupButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pruebatext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sucursalMain .sucursalInfo .listProducts{
    width: 100%;
}

.sucursalMain .sucursalInfo .listProducts .ProductItem,
.sucursalMain .sucursalInfo .listProducts .ProductItem .mat-button-wrapper{
    width: 100%;
    display: flex;
    margin: 5px 0px;
    cursor: pointer;
    padding: 0 15px;
    
}
.sucursalMain .sucursalInfo .listProducts .ProductItem:hover{
    opacity: .5;
    background: #3f51b5d8;
    width: 97%;
    border-radius: 10px;
}
.sucursalMain .productoInfo{
    height: 100%;
    width: 40%;
}

.sucursalMain .infoActive{
    background: url("../../../assets/adminS.jpg");
    background-size: cover;
}

.sucursalMain .sucursalInfo .listProducts .ProductItem .productTitle{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}


.sucursalMain .sucursalInfo .listProducts .ProductItem .productStatus,
.sucursalMain .sucursalInfo .listProducts .ProductItem .otherOption,
.sucursalMain .sucursalInfo .listProducts .ProductItem .options{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px
}


.statusAvailable{
    color: springgreen;
}

.statusDisable{
    color: darkorange;
}

.panelButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton{
    color: royalblue;
}
.deleteButton{
    color:red;
}