<div class="editProduct">
  <div class="productHeader">
    <div class="productTitle">
      <h2>Producto</h2>
    </div>
    <div class="sectionButton">
      <button (click)='(product._id=="")? aggProduct():editProduct()' mat-button mat-raised-button mat-icon-button class="aceptButton">
        <mat-icon>done</mat-icon>
      </button>
      <button (click)='(product._id=="")? cancelAdd():deleteProduct()' mat-button mat-raised-button mat-icon-button class="cancelButton">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="productInfo">
    <mat-form-field>
      <input [readonly]="sucursal===true" [(ngModel)]="product.name" matInput type="text" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="product.desc" placeholder="Descripción"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="product.price" type="number" placeholder="Precio">
    </mat-form-field>
         <mat-slide-toggle
          [(ngModel)]="product.type"
          [checked]="product.type">
        Refresco
      </mat-slide-toggle>
  </div>
</div>
