<div class="editProduct">
  <div class="productHeader">
    <div class="productTitle">
      <h2>Producto</h2>
    </div>
    <div class="sectionButton">
      <button mat-button mat-raised-button mat-icon-button class="aceptButton">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button mat-raised-button mat-icon-button class="cancelButton">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="productInfo">
    <mat-form-field>
      <input readonly [(ngModel)]="product.name" matInput type="text" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="product.description" placeholder="Descripción"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="product.price" type="number" placeholder="Precio">
    </mat-form-field>
    <h5 class="cantidadTitle">Cantidad: </h5>
    <mat-slider [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="tickInterval"
      [(ngModel)]="cantidad">
    </mat-slider>
    <mat-form-field *ngIf="sucursalExist===true">
      <input readonly matInput [(ngModel)]="sucursal.name" type="text" placeholder="Cantidad">
    </mat-form-field>
  </div>
</div>
