<h2>Detalle Factura</h2>
<main class="mainDetail">
    <div class="listHeader"><p class="icon"> Shop</p><p class="name">Nombre</p><p class="cant">Cantidad</p><p class="total">Total</p>
    <p class="buttons">Opciones</p>
    </div>
  <ul  class="mainListDetail" *ngIf="listDetail.length!==0;else noList">
    <li  class="listItem" *ngFor="let item of listDetail">
      <mat-icon mat-list-icon class="icon">shopping_cart</mat-icon>
      <h5 class="name">{{item.product.name}}</h5>
      <p class="cant">{{item.cantidad}}</p>
      <p class="total">{{item.total}} Bs</p>
      <div class="buttons">
        <button mat-icon-button (click)="deleteProduct(item)" ><mat-icon>delete</mat-icon></button>
      </div>
     
    </li>
  </ul>
  <ng-template #noList>
    <div class="noListMain">
      <h5>No posee Pedido.</h5>
    </div>
  </ng-template>
  

  <div class="mainTotal">
    <h3>Total: </h3>
    <h4>{{total}} Bs</h4>
  </div>
</main>

<footer class="detailFooter">
  <button mat-raised-button (click)="clearDetail()">Cancelar</button>
  <button mat-raised-button (click)="addDetailBill(listDetail)" class="process">Procesar</button>
</footer>
