<h1 mat-dialog-title>Producto: {{data.product.name}}</h1>
<div mat-dialog-content>
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="cantidad" (keyup)="changeTotal()" type="number" [(ngModel)]="data.cantidad">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput readonly placeholder="Precio/Unid" [(ngModel)]="data.product.price">
        </mat-form-field>
      
        <mat-form-field>
            <input matInput readonly placeholder="Total" [(ngModel)]="data.total">
        </mat-form-field>
      </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="(data.cantidad!==0)?data:''" cdkFocusInitial>Ok</button>
</div>